* {box-sizing: border-box;}

/* font-family: 'Leckerli One', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

:root {
    --prim: #ffffff;
    --logo: #FAF73E;
    --carttext: #9a9997;
    --bgnav: #EBE71D;
    --logofont: 'Leckerli One', cursive;
    --mainfont: 'Open Sans Condensed', sans-serif;
}

/* generic rules */
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.inner {
    padding: 8px 15vw 0 15vw;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: color 0.7s ease;
    color: var(--prim);
}

a:hover {
    color: black;
}

.clear {
    clear: both;
}
/* close generic */

/* header rules */
.main-header {
    margin-top: 4vh;
    font-family: var(--logofont);
    font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 100;
    text-transform: capitalize;
    color: var(--logo);
    display: inline;
    float: left;
}

.header form {
    margin: 7vh 0 0 150px;
    display: inline;
    float: left;
}

.searchbar {
    padding-top: 5px;
    width: 30vw;
    height: 30px;
    border: 2px solid var(--logo);
    border-radius: 5px;
}

input[type="text"]::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
    color: var(--logo);
}

.bee-cart {
    margin: 5vh 0 0 0;
    width: 150px;
    display: inline;
    float: right;
    /* border: 1px solid red; */
}

.bee-cart-img {
    margin-right: 8px;
    width: 3vw;
    float: left;
}

.balance {
    font-family: var(--mainfont);
    font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 800;
    color: var(--logo);
}

.top-nav {
    margin: 0;
    padding: 0;
    font-family: var(--mainfont);
    background-color: var(--bgnav);
}

.nav-list {
    margin: 0;
    padding-bottom: 36px;
}

.nav-item a {
    padding-right: 23px;
    margin-right: 22px;
    font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 800;
    text-transform: uppercase;
    border-right: 1px solid var(--prim);
    float: left;
}

#navItem10 a {
    margin: 0;
    padding: 0;
    border: none;
}
/* close header */

/* main rules */
.main {
    font-family: var(--mainfont);
}

.section1 {
    background-color: var(--logo);
    padding-bottom: 30px;
}

.section1 figure {
    margin: 0;
    display: inline;
    float: left;
}

.text-block {
    margin: 12px 0 0 70px;
    color: var(--prim);
    width: 25vw;
    height: 40vh;
    /* display: inline; */
    float: left;
}

.text-block h2 {
    margin: 0;
    font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
}

.text-block p {
    margin: 0;
    padding-top: 10px;
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.feature-button {
    margin-top: 15px;
    padding: 5px 15px;
    font-family: var(--mainfont);
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--logo);
    border: 3px solid var(--prim);
    border-radius: 10px;
    color: var(--prim);
    transition: background-color 0.7s ease;
}

.feature-button:hover {
    background-color: black;
}

.sliders {
    padding-top: 20px;
    width: 100%;
}

.slider {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: var(--prim);
    border-radius: 50%;
    /* display: inline; */
    float: left;
    transition: background-color 0.7s ease;
}

.slider:hover {
    background-color: black;
}

.section2 img {
    width: 10vw;
    height: 10vw;
}

.bee-div {
    display: inline;
}

.block1, .block2, .block3 {
    margin-right: 20px;
    width: 30%;
    float: left;
    border-right: 1px solid var(--bgnav);
}

.block3 {
    border: none;
}

.details {
    margin-top: 8px;
    padding-top: 3vh;
    width: 40%;
    /* border: 1px solid blue; */
    float: right;
    /* border-right: 1px solid var(--bgnav); */
}

.details p {
    margin: 0;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 1000;
    color: var(--carttext);
}

.block3 p {
    margin-top: -20px;
    line-height: 1;
}

.details button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--prim);
    background-color: var(--logo);
    border: none;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.details button:hover {
    background-color: black;
}

.featured-header {
    background-color: var(--logo);
}

.featured-header h2 {
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    color: var(--prim);
}

.section3 img {
    width: 10vw;
    height: 10vw;
}

.section3 .bee-div {
    padding-left: 3vw;
    display: inline-block;
}

.block4, .block5, .block6, .block7, .block8, .block9 {
    margin: 40px;
    padding: 8px;
    width: 25%;
    border: 1px solid var(--logo);
    border-bottom: 3px solid var(--logo);
    float: left;
}

.section3 .bee-name {
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 800;
    text-align: center;
    color: var(--carttext);
}

.purchase-div {
    margin-bottom: 60px;
}

.purchase-div p {
    margin: 0 0 0 40px;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 800;
    line-height: 0.8;
    color: var(--carttext);
}

.purchase-div button {
    margin: -10px 0 20px 20px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--prim);
    background-color: var(--logo);
    border: none;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.purchase-div button:hover {
    background-color: black;
}

.purchase-div p, .purchase-div button {
    float: left;
}
/* close main */

/* footer rules */
.footer {
    background-color: var(--logo);
    font-family: var(--mainfont);
    color: var(--prim);
}

.footer h2 {
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
}

.footer li {
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    text-transform: capitalize;
}

.block10, .block11, .block12, .block13 {
    float: left;
}

.block10, .block11, .block12 {
    margin-right: 160px;
}

.colophon-div {
    background-color: var(--bgnav);
}

.colophon {
    margin: 0;
    padding: 10px 0 20px 0;
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}
/* close footer */